@import url('../../App.css');

.header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 85px;
    background-color: var(--header-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.header::after {
    height: 100px;
    width: 100%;
    background-color: var(--header-color);
    content: '';
    display: block;
    bottom: 100%;
    position: absolute;
}

.settings,
.heart,
.pokeball {
    height: 25px;
    width: 25px;
}

.settings {
    position: absolute;
    right: 45px;
}

.heart {
    position: absolute;
    left: 45px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.conteiner h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: var(--header-font-color);
}

@media screen and (min-width: 900px) {
    .settings,
    .heart,
    .pokeball {
        height: 50px;
        width: 50px;
    }

    .conteiner {
        gap: 8px;
    }

    .conteiner h3 {
        font-size: 32px;
    }
}
