.header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 85px;
    background-color: var(--header-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.settings,
.heart,
.pokeball {
    height: 25px;
    width: 25px;
    color: var(--header-font-color);
    transition: color 0.3s ease;
}

.settings:hover,
.heart:hover {
    color: var(--icon-hover);
    cursor: pointer;
}

.settings_button {
    position: absolute;
    right: 45px;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.heart_button {
    position: absolute;
    left: 45px;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.conteiner h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: var(--header-font-color);
}

@media screen and (min-width: 900px) {
    .settings,
    .heart,
    .pokeball {
        height: 50px;
        width: 50px;
    }

    .conteiner {
        gap: 8px;
    }

    .conteiner h3 {
        font-size: 32px;
    }
}
