.container {
    background-color: var(--page-color);
    border-radius: 8px;
    padding: 10px 20px;
}

.container h2 {
    font-size: 24px;
    font-weight: 700;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 150px;
    width: 150px;
}

.heart_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.heart_container button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.heart {
    color: var(--favorite-icon-color);
    height: 30px;
    width: 30px;
    transition: color 0.3s ease, fill 0.3s ease;
}

.heart:hover {
    cursor: pointer;
}

.heart.favorite {
    fill: var(--favorite-icon-filled);
    color: var(--favorite-icon-filled);
}

@media screen and (min-width: 900px) {
    .container img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (min-width: 1000px) {
    .container img {
        height: 180px;
        width: 180px;
    }
}

@media screen and (min-width: 1200px) {
    .container img {
        height: 250px;
        width: 250px;
    }
    .container h2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1400px) {
    .container img {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-width: 1600px) {
    .container img {
        height: 350px;
        width: 350px;
    }
}
