.row {
    height: 756px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .row {
        height: 516px;
        flex-direction: row;
    }

    .row.right {
        flex-direction: row-reverse;
    }

}