body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-conteiner {
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #244d72;
    margin: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}